<% include ../header %>
  <link rel="stylesheet" type="text/css" href="/stylesheets/style_contatos.css">
  <header>
    <h1>Phone List - Sua lista telefonica</h1>
  </header>
  <section>
    <form action='/contato' method='post'>
      <input type='text' name='contato[nome]' placeholder='Nome'>
      <input type='text' name='contato[telefone]' placeholder='Telefone'>
      <button type='submit'>Cadastrar</button>
    </form>
    <table class='table'>
      <thead>
        <tr class='oi'>
          <th>Nome</th>
          <th>Telefone</th>
          <th>Ação</th>
        </tr>
      </thead>
      <tbody>
        <% contatos.forEach(function(contato, index) { %>
          <tr>
            <td><%- contato.nome %></td>
            <td><%- contato.telefone %></td>
            <td>
              <a href='/contato/<%- contato._id %>'>Detalhes</a>
            </td>
          </tr>
        <% }) %>
      </tbody>
    </table>
  </section>
<% include ../exit %>
<% include ../footer %>